/target/
/HJ-ConfigCenter/.mvn/wrapper/*.jar
*.project
*.jar
/HJ-ConfigCenter/.mvn/wrapper/maven-wrapper.jar
/HJ-Security/*.classpath
/HJ-Security/.settings/*.prefs
/HJ-Authentication/*.classpath
/HJ-Authentication/*.gitignore
/HJ-Authentication/.settings/*.prefs
/HJ-MS-Common/*.classpath
/HJ-MS-Common/.settings/*.prefs
/.metadata
/.recommenders/caches/identified-project-coordinates.json
/.recommenders/caches/manual-mappings.json
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.fdt
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.fdx
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.fnm
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.frq
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.nrm
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.prx
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.tii
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.tis
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_7
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock
.recommenders
*.classpath
*.gitignore
*.prefs
/HJ-Getway/bin/src/main/java/com/hzcf/getway/*.class
/HJ-Getway/bin/src/main/java/com/hzcf/getway/filter/*.class
/Hanson-MetadataAware/.mvn/wrapper/maven-wrapper.jar
/Hanson-MetadataAware/.mvn/wrapper/maven-wrapper.properties
/Hanson-MetadataAware/.mvn/wrapper/*.jar
